@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", monospace;
    cursor: default;
    color: #fff;
}

body {
    background-color: #090909;
}

.title {
    text-align: center;
    margin: 8px;
    padding: 8px;
    background-color: #232323;
    border-radius: 4px;
}

.device-list {
    text-align: center;
    background-color: #232323;
    margin: 8px;
    padding: 8px;
    padding-bottom: 16px;
    border-radius: 4px;
}

.device-list-title {
    text-align: left;
    margin: 4px;
    padding: 4px;
}

.devices {
    text-align: left;
    background-color: #232323;
}

.device {
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    background-color: #111;
    transition: 0.2s background-color, 0.15s border-left;
    border-left: 0px solid #444;
}

.device:hover {
    cursor: pointer;
    border-left: 8px solid #222;
    background-color: #333;
    transition: 0s background-color, 0.15s border-left;
}

.device-selected {
    background-color: #2d2d2d;
    border-left: 8px solid #444;
    transition: none;
}

.device-selected:hover {
    cursor: default;
    background-color: #2d2d2d;
    border-left: 8px solid #444;
}

.editor {
    text-align: center;
    background-color: #232323;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
}

.editor-title {
    text-align: center;
    padding: 8px;
}

canvas {
    max-width: calc(100% - 16px);
    max-height: calc(100% - 16px);
    background-color: #111;
    border-radius: 4px;
    margin: 8px;
}

.color-picker {
    text-align: center;
}

.color {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 2px solid #00000000;
    box-shadow: 0px 0px 4px #000;
    transition: 0.2s;
    opacity: 0.35;
}

.color:hover {
    opacity: 1;
    cursor: pointer;
}

.color-selected {
    opacity: 1;
    border: 2px solid #fff;
    box-shadow: 0px 0px 8px #000;
}

.color-selected:hover {
    border: 2px solid #fff;
    box-shadow: 0px 0px 8px #000;
    opacity: 1;
}

.button {
    padding: 8px;
    margin: 4px;
    background-color: #111;
    border-radius: 3px;
    transition: 0.15s;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    background-color: #333;
}

.frames {
    direction: ltr;
    background-color: #111;
    padding: 8px;
    margin: 8px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.frame {
    background-color: #333;
    border: 1px solid #fff;
    display: inline-block;
    width: 18px;
    max-width: 100%;
    height: 14px;
    max-height: 100%;
    text-align: center;
    font-size: 10px;
    padding: 8px;
    margin: 4px;
    opacity: 0.35;
    transition: 0.2s;
}

.frame:hover {
    cursor: pointer;
    opacity: 0.6;
}

.frame-selected {
    opacity: 1;
}

.frame-selected:hover {
    opacity: 1;
}